.mw-mpuu-centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.mw-mpuu-inline {
	display: inline;
}

.mw-mpuu-element {
	display: inline-table !important;
	white-space: nowrap;
}

.mw-mpuu-input {
	margin-bottom: 0.5em;
}
